// Variables

// Colors
$polic-blue: #173f8c;
$white: rgb(240, 240, 240);
$green: rgb(61, 209, 2);
$green-dark: rgb(20, 66, 2);
$gargo-gas: #ffbc47;
$orange: #f45050;

// Fonts
$font-assistant: "Assistant", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
