// Variables

// Colors
$polic-blue: #3c486b;
$white: rgb(240, 240, 240);
$gargo-gas: #f9d949;
$orange: #f45050;

// Fonts
$font-assistant: "Assistant", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
