@use "../../App.scss" as app;

.container {
  margin: 1rem;
  .row {
    display: flex;
    flex-direction: row;

    .row-right {
      font-family: app.$font-assistant;
      width: 100%;
      .card {
        > h1 {
          font-family: app.$font-ubuntu;
          padding: 1rem;
          text-align: center;
        }
      }
    }
  }
}

.table {
  // sets

  $gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
  $gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
  $gl-sm: "screen and (max-width: 48em)"; // max 768px
  $gl-md: "screen and (max-width: 64em)"; // max 1024px
  $gl-lg: "screen and (max-width: 80em)"; // max 1280px

  // table style

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    * {
      position: relative;
    }

    td,
    th {
      padding-left: 8px;
    }

    thead tr {
      height: 60px;
      background: app.$polic-blue;
      font-size: 16px;
      color: white;
    }

    tbody tr {
      height: 48px;
    }

    td,
    th {
      font-family: app.$font-assistant;
      text-align: left;
      font-size: 1.5rem;
      border: 1px solid black;
    }
  }

  .form {
    margin: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: app.$gargo-gas;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 1rem;
  }

  .btn-danger {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: red;
    border: 1px solid black;
    color: white;
    cursor: pointer;
  }

  @media #{$gl-xs} {
    table {
      display: block;
      > *,
      tr,
      td,
      th {
        display: block;
      }

      thead {
        display: none;
      }
      tbody tr {
        height: auto;
        padding: 8px 0;
        td {
          padding-left: 45%;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            position: absolute;
            font-weight: 700;
            width: 40%;
            left: 10px;
            top: 0;
          }

          &:nth-child(1):before {
            content: "Code";
          }
          &:nth-child(2):before {
            content: "Stock";
          }
          &:nth-child(3):before {
            content: "Cap";
          }
          &:nth-child(4):before {
            content: "Inch";
          }
          &:nth-child(5):before {
            content: "Box Type";
          }
        }
      }
    }
  }

  // body style

  body {
    background: #9bc86a;
    font: 400 14px "Calibri", "Arial";
    padding: 20px;
  }

  blockquote {
    color: white;
    text-align: center;
  }
}
