@use "../../../App";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  nav {
    ul {
      li {
        display: inline;

        a {
          text-decoration: none;
          font: 400 1.2rem App.$font-family;
          color: App.$primary-color;
          padding: 1rem 2rem;
          margin: 1rem 1rem;

          &:hover {
            background-color: App.$primary-color;
            color: white;
            border-radius: 2rem;
            transition: all 1s ease;
            box-shadow: 10px 5px 5px App.$secondary-color;
          }

          &:active {
            background-color: App.$primary-color;
            color: white;
            border-radius: 2rem;
            transition: all 1s ease;
            box-shadow: 10px 5px 5px App.$secondary-color;
          }
        }
      }
    }
  }

  .icons {
    a {
      color: App.$secondary-color;
      font-size: 1.5rem;
      padding: 0 0.5rem;

      &:hover {
        color: App.$primary-color;
      }
    }
  }
}
