@use "../../App.scss" as app;

.container {
  margin: 1rem;
  .row {
    display: flex;
    flex-direction: row;
  }

  .row-product {
    font-family: app.$font-assistant;
    width: 100%;

    .card-product {
      display: flex;
      flex-direction: column;
      align-items: center;

      .select {
        width: 100%;
        border: 1px solid rgb(124, 124, 124);
        margin-top: 1rem;
        border-radius: 1rem;
      }
    }
  }
}

.category {
  width: 70%;

  .photo {
    margin: 1rem 0;

    label {
      display: flex;
      border: 1px solid rgb(124, 124, 124);
      height: 38px;
      align-items: center;
      text-align: center;
      padding: 0 11px;
      background-color: app.$polic-blue;
      color: white;
      border-radius: 1rem;
      cursor: pointer;
      input {
        width: 70%;
      }
    }
  }
}

.product-input {
  display: flex;

  input {
    width: 100%;
    height: 38px;
    padding: 0 11px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(124, 124, 124);
  }

  textarea {
    padding: 10px 11px;
    margin-bottom: 1rem;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    border: 1px solid rgb(124, 124, 124);
  }

  button {
    width: 100%;
    height: 38px;
    padding: 0 11px;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 1px solid rgb(124, 124, 124);
    cursor: pointer;
    background-color: app.$gargo-gas;
  }
}
