@use "../../App.scss" as app;

.ph1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  background-image: url(../../assets/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(60, 72, 107, 0.507);
  font-size: 2rem;
  font-family: app.$font-ubuntu;
  color: white;
}

.policy {
  display: flex;
  margin: 2rem auto;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  .policy-left {
    > img {
      width: 100%;
      height: 30rem;
    }
  }

  .policy-right {
    > h2 {
      font-family: app.$font-ubuntu;
      font-size: 1.5rem;
    }

    > p {
      display: flex;
      margin: 1rem auto;
      padding: 1rem 0.3rem;
      font-family: app.$font-assistant;
      font-size: 1.2rem;
    }
  }
}
