@use "../../App";

.ProductDetails {
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  display: flex;
  box-sizing: border-box;
}

.ProductDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  // border: 1px solid App.$primary-color;
}

.ProductDetails > div:last-child {
  align-items: flex-start;
}

.CrouselImage {
  width: 20vmax;
}

.detailsBlock-1 > h2 {
  color: App.$primary-color;
  font: 600 2vmax App.$font-family;
}

.detailsBlock-1 > p {
  color: #2e2e2e;
  font: 200 1vmax App.$font-family;
}

.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid App.$secondary-color;
  border-bottom: 1px solid App.$secondary-color;
  width: 70%;
  padding: 1vmax 0;
}

.detailsBlock-2 > span {
  color: #2e2e2e;
}

.detailsBlock-3 {
  width: 70%;
}

.detailsBlock-3 > h1 {
  color: #2e2e2e;
  font: 600 1.8vmax App.$font-family;
  margin: 1vmax 0;
}

.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.detailsBlock-3-1-1 > button:hover {
  background-color: App.$primary-color;
}

.detailsBlock-3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax App.$font-family;
  color: black;
}

.detailsBlock-3-1 > button:last-child {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: App.$primary-color;
  font: 500 0.7vmax App.$font-family;
  border-radius: 20px;
  padding: 0.7vmax 2vmax;
  margin: 1vmax;
  outline: none;
}

.detailsBlock-3-1 > button:last-child:hover {
  background-color: App.$secondary-color;
}

.detailsBlock-3 > p {
  border-top: 1px solid App.$secondary-color;
  border-bottom: 1px solid App.$secondary-color;
  padding: 1vmax;
  color: black;
  font: 400 1vmax App.$font-family;
  margin: 1vmax 0;
}

.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax App.$font-family;
}

.detailsBlock-4 > p {
  color: rgba(0, 0, 0, 0.897);
  font: 300 0.8vmax App.$font-family;
}

.submitReview {
  border: none;
  background-color: App.$secondary-color;
  font: 500 0.7max App.$font-family;
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.submitReview:hover {
  background-color: App.$primary-color;
  color: white;
  transform: scale(1.1);
}

.reviewsHeading {
  color: App.$primary-color;
  font: 600 2vmax App.$font-family;
  text-align: center;
  padding: 1vmax;
}

.reviews {
  display: flex;
  overflow: auto;
}

.reviewCard {
  flex: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  border: 1px solid rgba(56, 56, 56, 0.116);
  width: 30vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  padding: 3vmax;
}

.reviewCard > img {
  width: 5vmax;
}

.reviewCard > p {
  color: rgba(0, 0, 0, 0.836);
  font: 600 0.9vmax App.$font-family;
}

.noReviews {
  font: 400 1.3vmax App.$font-family;
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
}

.reviewCard > span {
  color: rgba(0, 0, 0, 0.445);
  font: 500 0.9vmax App.$font-family;
}

@media screen and (max-width: 600px) {
  .ProductDetails {
    flex-direction: column;
    height: unset;
  }

  .ProductDetails > div:last-child {
    align-items: center;
  }

  .detailsBlock-1 > h2 {
    font-size: 2.8vmax;
    text-align: center;
  }

  .detailsBlock-1 > p {
    text-align: center;
    font-size: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    font-size: 1.5vmax;
  }

  .detailsBlock-3 > h1 {
    font: 700 3vmax "Franklin Gothic Medium";
    text-align: center;
  }

  .detailsBlock-3-1 {
    flex-direction: column;
  }

  .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .detailsBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }

  .detailsBlock-3-1-1 > input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax "Roboto";
  }

  .detailsBlock-3-1 > button:last-child {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .detailsBlock-3 > p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax "Roboto";
  }

  .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;
  }

  .detailsBlock-4 > p {
    font: 300 1.8vmax sans-serif;
  }

  .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .reviewCard > p {
    font: 600 3vw "Roboto";
  }
  .reviewCardComment {
    font: 300 5vw cursive;
  }
}
