@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

// Variables

$font-family: "Ubuntu", sans-serif;
$primary-color: #03045e;
$secondary-color: #40ddc1;
$para-color: #000000;

$h1: 3rem;
$h2: 2rem;
$h3: 1.5rem;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
