@use "../../App.scss" as app;

.products_container {
  margin: 1rem;
  .row {
    display: flex;
    flex-direction: row;
  }
}

.product-link {
  text-decoration: none;
  color: black;
}

.card-container {
  display: flex;
  gap: 1rem;

  .card {
    margin: 1rem 0.5rem;
    border: 1px solid app.$polic-blue;
    padding: 0.5rem;

    img {
      height: 10rem;
      width: 10rem;
    }
  }
}
