@use "../../App";

.banner {
  background-image: linear-gradient(120deg, #03045e 0%, #40ddc1 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  p {
    font: 400 1.5rem App.$font-family;
    color: white;
  }

  h1 {
    margin: 2rem;
    font: 600 3rem App.$font-family;
    color: white;
  }

  a {
    button {
      margin-bottom: 2rem;
      cursor: pointer;
      background-color: white;
      border: 1px solid white;
      padding: 1rem 3rem;
      transition: all 0.5s;
      font: 500 1rem App.$font-family;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      &:hover {
        background-image: linear-gradient(120deg, #03045e 0%, #40ddc1 100%);
        box-shadow: App.$secondary-color 0px 5px 15px;
        color: white;
      }
    }
  }
}

.homeHeading {
  text-align: center;
  font: 500 2rem App.$font-family;
  padding: 2rem 0;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
